<h1>Правила аренды велосипедов или самокатов</h1>
<div class="row">
  <div class="span8 offset1">

<p>Один сотрудник может арендовать 1 велосипед/самокат на один день или выходные. </p>
<p>Возможна аренда сотрудником нескольких велосипедов, если велосипеды свободны.</p>
<p><strong>ВАЖНО:</strong> пропуск на территорию бизнес-центра осуществляется по пропускам.
Пропуск можно получить у Уварова Евгения.</p>

<p>При заполнении формы аренды указывайте имя и фамилию таким образом, чтобы можно было понять кто его арендует :)</p>

  </div>
</div>
