<div class="row">
  <div class="span6 offset3">

    <%= form_for @bicycle, html: {multipart: true} do |f| %>

        <%= render 'fields', f: f %>

        <%= f.submit "Применить", class: 'btn btn-large btn-primary' %>

    <% end %>

    <p><%= link_to "Назад к списку велосипедов", bicycles_path %> </p>

  </div>
</div>