<footer class="footer">
  <small>
    <a href="http://bicycle.ittn.local">Аренда велосипедов</a>
    by Nord sysadmins. 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "Помощь", help_path %> </li>
      <li><%= link_to "Правила", rules_path %> </li>
      <li><a href=<%= root_path %>>Календарь</a></li>
    </ul>
  </nav>
</footer>